body {
  background-color: #000;
}

h1{
  color: black;
  
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 10vh;
  font-size: larger;
}

#landing-header h1 {
  color: #fff;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://journolink-static.s3.eu-west-1.amazonaws.com/assets/img/blog/bHanqrrNWoRwLOsNzL7Bx0YbdrSFsgw85RUoiSRr.jpeg); 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://static.scientificamerican.com/sciam/cache/file/DFD3D397-B132-4516-9D8D0C7B4F07763B_source.jpg?w=590&h=800&2A4ADDE6-C642-4536-8CBD4821540D9D7F);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://cf-images.us-east-1.prod.boltdns.net/v1/static/3772599298001/9e6a640f-afd3-47c3-8ec8-e9442e23a87d/a805949d-b7ba-4aba-ba49-2e476719cf75/1280x720/match/image.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://assets.nst.com.my/images/articles/CyberScam_1565668844.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://www.securitymagazine.com/ext/resources/SEC/2015/1115/SEC1115-cyber-slide2_900px.jpg?1446232808);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}


/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}