

@media screen and (max-width: 992px) {
 #dabba{
     width: 60%;
 }
 #mb{
    display: block;
}

#lp{
    display: none;
}
}

@media screen and (max-width: 600px) {
 #dabba{
     width: 90%;
 }
#mb{
    display: block;
}


#lp{
    display: none;
}
}

.mb.home{
    display: none;
}

.lp{
    display: block;
}

.mystyle{
    display: none;
}

#ad{
    margin-bottom: 3px;
}

#fogot{
    margin-left: 15px;
}

.lcn{
    margin-bottom: 5px;
}

.thumbnail img{
    width: 100%;
    
}

.thumbnail{
    padding: 1px;

}

#delete{
    display: inline;
}

.remove{
    float: left;
    margin-right: 10px;
}

.heading{
    text-align: center;
}

.dabba{
    width: 30%; 
    margin: 30px auto;
}

.bigDabba{
    width:50%;
}

.navbar-default .home:hover {
    cursor: default;
    background: #ebebe6;
}

.navbar{
    border-radius: 0px;
}

.ui.menu{
    border-radius: 0px;
}

img.photu{
    min-height: 200px;
}

#hrr{
    margin-top: 3px;
    margin-bottom: 5px;
}

.more{
    display: none;
}

.read{
    border: none;
    outline: none;
    color: #9e9e9e;

}

.post{
    text-align: justify;
}

.ui.icon.input>input{padding-right:0!important}

.ui.input>input{
    border-radius: 0px;
}

.ui.inverted.menu.item{
    margin-right: 10%;
}

.ui.inverted.menu .item:before {
     background: none; 
}

.ui.menu .item {
    width: fit-content;
    margin: 0 auto;
}

#patti{
    padding: 0;
}
/*#home{*/
/*    margin-left: 25px;*/
/*}*/

/*#admin{*/
/*    margin-right: 5px;*/
/*}*/